Q 2 What is DDL? Explain why CREATE, DROP,ALTER,and TRUNCATE are used with an example.

**DDL (Data Definition Language)** is a subset of SQL (Structured Query Language) used to define and manage database structures. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and schemas. The main DDL commands are `CREATE`, `DROP`, `ALTER`, and `TRUNCATE`.

### DDL Commands

1. **CREATE**

   The `CREATE` command is used to create new database objects, such as tables, indexes, views, and schemas. 

   **Example: Creating a Table**

   ```sql
   CREATE TABLE employees (
       employee_id INT PRIMARY KEY,
       first_name VARCHAR(50),
       last_name VARCHAR(50),
       email VARCHAR(100),
       hire_date DATE
   );
   ```

   In this example, a table named `employees` is created with columns for `employee_id`, `first_name`, `last_name`, `email`, and `hire_date`.

2. **DROP**

   The `DROP` command is used to delete existing database objects. This action is irreversible, and all data within the object is lost.

   **Example: Dropping a Table**

   ```sql
   DROP TABLE employees;
   ```

   This command deletes the `employees` table and all its data.

3. **ALTER**

   The `ALTER` command is used to modify the structure of existing database objects. This includes adding, deleting, or modifying columns in a table.

   **Example: Altering a Table**

   ```sql
   ALTER TABLE employees
   ADD COLUMN phone_number VARCHAR(15);
   ```

   In this example, a new column `phone_number` is added to the `employees` table.

4. **TRUNCATE**

   The `TRUNCATE` command is used to delete all data from a table without removing the table itself. It is faster than `DELETE` because it does not log individual row deletions.

   **Example: Truncating a Table**

   ```sql
   TRUNCATE TABLE employees;
   ```

   This command removes all rows from the `employees` table but retains the table structure for future use.

### Summary

- **CREATE**: Used to create new database objects.
- **DROP**: Used to delete existing database objects permanently.
- **ALTER**: Used to modify the structure of existing database objects.
- **TRUNCATE**: Used to remove all data from a table quickly without deleting the table itself.

These commands are essential for managing and organizing database structures effectively, ensuring that the database can adapt to evolving requirements.