Q 3 What is DML? Explain INSERT,UPDATE,and DELETE with an example..

**DML (Data Manipulation Language)** is a subset of SQL (Structured Query Language) used to manipulate and manage data within database tables. DML commands are focused on inserting, updating, deleting, and retrieving data. The primary DML commands are `INSERT`, `UPDATE`, and `DELETE`.

### DML Commands

1. **INSERT**

   The `INSERT` command is used to add new rows of data to a table.

   **Example: Inserting Data into a Table**

   ```sql
   INSERT INTO employees (employee_id, first_name, last_name, email, hire_date)
   VALUES (1, 'John', 'Doe', 'john.doe@example.com', '2024-07-31');
   ```

   This command inserts a new row into the `employees` table with values for `employee_id`, `first_name`, `last_name`, `email`, and `hire_date`.

2. **UPDATE**

   The `UPDATE` command is used to modify existing data within a table. It can update one or multiple rows based on specified conditions.

   **Example: Updating Data in a Table**

   ```sql
   UPDATE employees
   SET email = 'john.d.new@example.com'
   WHERE employee_id = 1;
   ```

   This command updates the `email` field for the employee with `employee_id` 1 in the `employees` table.

3. **DELETE**

   The `DELETE` command is used to remove rows from a table based on specified conditions. Unlike `TRUNCATE`, `DELETE` allows for conditional removal of data.

   **Example: Deleting Data from a Table**

   ```sql
   DELETE FROM employees
   WHERE employee_id = 1;
   ```

   This command deletes the row where `employee_id` is 1 from the `employees` table.

### Summary

- **INSERT**: Adds new rows of data to a table.
- **UPDATE**: Modifies existing data in a table.
- **DELETE**: Removes specific rows from a table based on conditions.

These DML commands are essential for manipulating data within a database, allowing for dynamic and flexible data management.